body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
li{
    list-style-type: none
}

/* Here comes liikumine.voco.ee body paart */
.welcome {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 5%, rgba(0, 0, 0, 0) 25%), url("images/welcome.jpg");
    background-size: cover;
    background-position: center;
    height: 512px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.info_container {
    margin-right: 30%;
    position: relative;
    max-width: 60%;
}

/* Existing styles */


#welcome_text {
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

#Loe_lisaks {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

/* Add styles for the SVG */
#welcome_svg {
    position: absolute;
    top: 0;
    right: 0;
    height: 512px;
    fill: #fff; /* Adjust color as needed */
}

.uudised {
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 857px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1258' height='857' viewBox='0 0 1258 857' fill='none'%3E%3Cpath d='M806.641 278.761C797.912 248.094 783.073 219.51 763.017 194.729C742.962 169.947 718.103 149.479 689.937 134.557C661.771 119.634 630.878 110.564 599.118 107.893C567.358 105.223 535.386 109.006 505.125 119.015C474.864 129.025 446.939 145.053 423.03 166.138C399.121 187.222 379.721 212.927 365.997 241.706C352.273 270.484 344.509 301.742 343.171 333.6C341.834 365.458 346.95 397.258 358.214 427.086H495.7L435.653 531.251C463.623 552.71 496.038 567.636 530.522 574.937C565.006 582.238 600.686 581.728 634.947 573.444C669.209 565.161 701.184 549.314 728.529 527.064C755.875 504.815 777.899 476.727 792.987 444.858L697.228 278.761H806.641Z' fill='%23EBEFF5'/%3E%3Cpath d='M358.217 427.078H0L247.828 857L435.633 531.243C400.631 504.41 373.811 468.335 358.194 427.078' fill='%23EBEFF5'/%3E%3Cpath d='M976.062 370.778L1010.17 429.922L1258 0H762.32L923.027 278.763H1029.12L976.062 370.778Z' fill='%23EBEFF5'/%3E%3Cpath d='M930.474 449.877L976.056 370.894L923.021 278.879H806.642C822.393 334.069 817.532 393.108 792.965 444.975L816.51 485.791C837.805 468.009 863.454 456.229 890.815 451.666C903.857 449.52 917.111 448.959 930.289 449.993' fill='%23EBEFF5'/%3E%3Cpath d='M930.48 449.874L863.142 566.629L816.493 485.672C799.953 499.401 786.363 516.338 776.542 535.463C766.722 554.588 760.875 575.504 759.353 596.951C757.831 618.398 760.666 639.931 767.687 660.253C774.709 680.574 785.77 699.262 800.206 715.19C814.642 731.119 832.152 743.958 851.681 752.933C871.211 761.908 892.355 766.834 913.839 767.413C935.322 767.993 956.701 764.214 976.685 756.304C996.67 748.394 1014.85 736.517 1030.12 721.389L917.826 609.094L1030.58 496.265C1003.87 469.296 968.379 452.81 930.55 449.805' fill='%23EBEFF5'/%3E%3C/svg%3E") #f5f5f5;
}


.uudised_container {
    position: relative;
    width: 60%;
    margin: 0 auto;
    display: flex; /* Use flexbox to make children flex items */
    justify-content: space-between; /* Add space between flex items */
    align-items: flex-start; /* Align items at the top */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}
#Terviseuudised {
    font-size: 30px;
    color: #000;
    margin-bottom: 20px;
}
#K천ik_uudised {
    position: absolute;
    right: 0;
    top: 25px;
    background-color: transparent;
    color: #000000;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;

}
#K천ik_uudised i {
    margin-left: 10px;
}

.uudised_info {
    width: 100%; /* Make sure the container takes up the full width */
    display: flex; /* Use flexbox for the children of uudised_info */
    justify-content: space-between; /* Add space between the children */
}
.uudis {
    width: calc(48% - 20px); /* Adjusted width to account for margins */
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 20px; /* Add margin between items */
    background-color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.uudis:hover {
    background-color: #fdfbfb;
    color: #8e99ab; /* Text color for all child elements */
}

.uudis:hover .uudis_date,
.uudis:hover .uudis_title,
.uudis:hover .uudis_text,
#K천ik_uudised:hover {
    color: #8e99ab; /* Text color for specific child elements */
}
.uudis_img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.uudis_date {
    font-size: 14px;
    color: #000;
    margin-left: 20px;
    font-weight: 600;

}
.uudis_title {
    font-size: 20px;
    color: #000;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 40px;

}

.uudis_text {
    font-size: 16px;
    color: #000;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}

#sportlikud_pakumised {
    background-color: #ffffff;
    height: 40vh; /* Use vh (viewport height) for height */
    margin-bottom: 12%;
}

.sportlikud_sontainer {
    position: relative;
    margin-top: 7%;
}

#sportlikud_pakumised_text {
    font-size: 2vw;
    color: #000;
    margin-bottom: 2%;
    margin-left: 5%;
}

.pakkumised_container {
    position: relative;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%),
    url("images/spordibaasid.jpg") center/cover;
    z-index: 1;            height: 40vh;
    width: 40vw; /* Use vw for width */
    max-width: 300px;
    margin: 0 auto;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
.pakkumised_container:hover #Spordibaasid {
    color: #8e99ab;
}